*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    position: relative;
    background: url('img/keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);

}

.sidebar .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

}

.logo a{
    
    line-height: 60px;
    position: absolute;
    left: 75px;
    text-decoration: none;
    color: white;
    font-size: 25px;

}

.sidebar .menu{
    top:70px;
    position: relative;
    width: 100%;
}

.sidebar .menu li{
    margin-top: 5px;
    padding: 20px 60px;
    
    text-align: left;
}

.sidebar .menu i{
    color: white;
    padding-right: 30px;
}

.sidebar .menu li a {
    text-decoration: none;
    color: white;
    font-size: larger;
    transition: all .2s linear;

}

.sidebar .menu li:hover{
    border-left: 1px solid white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.sidebar .social_media{
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.sidebar .social_media a{
    padding: 10px;
    font-size: 20px;
    color: white;
    opacity: 0.6;
    transition: all .2s linear;

    
}

.sidebar .social_media a:hover{
    opacity: 1;
    transform: translatey(-20px);
    
}


#check{
    display: none;
}
.container .btn_one i{
    position: absolute;
    line-height: 60px;
    left: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    opacity: 1;
    transition: all .2s linear;
    /* font-weight: 700 !important; */

}

.sidebar .btn_two i{
    position: absolute;
    cursor: pointer;
    line-height: 60px;
    left: 230px;
    font-size: 30px;
    cursor: pointer;
    opacity: 1;
    color: white;
    transition: all .2s linear;
}




.btn_one i:hover{
    font-size: 24px;
    
    
    
}

#check:checked ~ .sidebar{
    left: 0px;
}

#check:checked ~  .btn_one i{
    opacity: 0;
}

#check:checked ~ .sidebar .btn_two i{
    opacity: 1;
}

